body {
  padding: 1em;
}

input {
  border-style: none;
  border: 1px solid rgba(172, 172, 172, 0.461);
  border-left: none;
  border-top-right-radius: 8px;
  border-end-end-radius: 8px;
  border-bottom-color: rgb(172, 172, 172);
  outline: none;
}
#basic-addon1 {
  border-style: none;
  border: 1px solid rgba(172, 172, 172, 0.461);
  border-right: none;
}
h5 {
  text-align: center;
}
.newHome {
  color: white;
  text-decoration: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5048144257703081) 0%,
    rgba(0, 0, 0, 0.7961309523809523) 33%,
    rgba(0, 0, 0, 1) 82%
  );
}

#banner-0,
#banner-1,
#banner-2,
#banner-3,
#banner-4,
#banner-5,
#banner-6,
#banner-7,
#banner-8,
#banner-9,
#banner-10,
#banner-11,
#banner-12 {
  height: 220px;
}
.rotationIMG {
  top: 30%;
  left: 55%;
  transform: rotate(23deg);
  width: 200px;
}
.titolobanner {
  top: 20%;
  left: 0%;
}
